:root {
  --poster-size: 1500px;
  --width-norm: 0.2816;
  --width-blocks: 17;
  --height-norm: 0.5557;
  --height-blocks: 15;
  --grid-count: 3;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

#main {
    width: 100%;
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 30px;
    position: relative;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.poster {
  height: 100%;
}
#first {
  width:  calc(var(--width-norm) * var(--poster-size));
  height:  calc(var(--height-norm) * var(--poster-size));
  background-color: red;
}

.grid {
  display: grid;
  width: 100%;
  height: calc(100% / var(--grid-count));
}


.black {
  background-color: black;
}

.white {
  background-color: white;
}
